@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.fuente {
  font-family: 'Urbanist', sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
